body {
    margin: 0;
    padding: 0;
    padding-top: 200px;
    background-color: white;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
 display: none;
}

.box{
  -ms-overflow-style: none;
}

.box::-webkit-scrollbar{
 display:none;
}

a {
    text-decoration: none;
    color: red;

}

ul {
    list-style-type: none;
}

h1{
    text-align: center;
    color: red;
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid black;
    height: 120px;
    width: 100%;
    z-index: 1000;
    background-color: red;
}

#container{
    width: 1320px;
    margin: 0 auto;
}

#infoContainer{
    width: 1320px;
    margin: 0 auto;
}

#statisticsContainer{
    width: 1500px !important;
    margin: 0 auto;
}

#gameTableContainer{
    width: 1320px;
    padding: 20px;
    margin: 0 auto;
}

#resTableContainer{
    width: 1320px;
    margin: 0 auto;
}

#leftArticle {
    margin-left: 300px;
}

#leftArticle>ul {
    margin-left: 10px;
    display: flex;
    font-size: 20px;
    line-height: 80px;
}

#leftArticle>ul>li {
    margin-left: 30px;
}

#leftArticle>ul>li>a{
    color: black;
}

#leftArticle>ul>li>a>img {
    width: 150px;
}

#rightArticle {
    margin-left: 300px;
}

#rightArticle>ul {
    display: flex;
    font-size: 20px;
    line-height: 80px;
}

#rightArticle>ul>li {
    margin-left: 30px;
}

.slider {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.slides {
    display: flex;
    width: 400%;
    animation: slideAnimation 8s infinite;
}
.slide {
    flex: 1 0 100%;
}
.slide img {
    height: 450px;
    object-fit: cover;
}

@keyframes slideAnimation {
    0%, 25% { transform: translateX(0%); }
    25%, 50% { transform: translateX(-100%); }
    50%, 75% { transform: translateX(-200%); }
    75%, 100% { transform: translateX(-300%); }
}

footer {
    text-align: center;
    border-top: solid black 1px;
    background-color: red;
    color: black;
    padding-bottom: 20px;
}

#footerLogoArticle>img {
    width: 200px;
}

#infomation>article>img {
    width: 500px;
    height: 350px;
}

#infomation {
    display: flex;
    justify-content: space-around;
}

#info1 {
    text-align: center;
}

#info2 {
    text-align: center;
}

#infoTitle {
    text-align: center;
}

#infoTitle>p {
    font-weight: 900;
    font-size: 60px;
}

#infoTitle>a {
    font-size: 30px;
}

#infoTitle>a:hover {
    font-weight: 900;
    font-size: 30px;
}

#gameSchedule img {
    width: 300px;
}

#gameSchedule p {
    font-size: 30px;
    font-weight: 900;
}

#todayGame {
    text-align: center;
}

#todayGame>h1 {
    font-size: 35px;
}

#gamePoint {
    display: flex;
    justify-content: center;
}

#todayGame2>p {
    line-height: 645px;
}

td,
th {
    border-collapse: collapse;
    border: 1px solid black;
}

#scheduleTable {
    text-align: center;
    margin: 0 auto;
    width: 900px;
    height: 500px;
    font-size: 25px;
}

#resTable{
    text-align: center;
    margin: 0 auto;
    width: 900px;
    height: 500px;
    font-size: 25px;
}

#modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
}

#modal_close {
    font-size: 20px;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: red;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

#modal_container {
    padding: 30px 10px;
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
}

#modal_body {
    margin-top: 20px;
    font-size: 24px;
}

#modal:target {
    visibility: visible;
    opacity: 1;
}

.today {
    background-color: #eaf2ff;
    color: red;
}

.game {
    font-weight: 900;
}

#ranking {
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
}

#ranking_menu>div {
    display: none;
}

#ranking_menu>div:target {
    display: block;
}

#league_details>div {
    display: none;
}

#league_details>div:target {
    display: block;
}

#league_top>div>ul {
    display: none;
}

#league_top>div:target>ul {
    display: block;
}


.slides>article>img {
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

.slides>a {
    font-size: 35px;
    font-weight: 900;
    line-height: 650px;
    margin-left: 30px;
}

#slide1 {
    display: flex;
    justify-content: center;
}

#slide1>article>img {
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

#slide1>a {
    font-size: 35px;
    font-weight: 900;
    line-height: 650px;
    margin-left: 30px;
}

.leftImg {
    padding-top: 100px;
}

.centerImg {
    width: 500px !important;
    height: 500px !important;
}

.rightImg {
    padding-top: 100px;
}

#gallery {
    margin-top: 100px;
    justify-content: center;
    width: 1320px;
}

#galleryContainer{
    width: 1320px;
    display: flex;
    text-align: center;
}

#gallery>div {
    display: none;
}

#gallery>div:first-of-type {
    display: flex;
}

#gallery>div:target {
    display: flex;
}

#gallery:has(:target:not(:is(#gallery1)))>#gallery1 {
    display: none;
}

#gallery div div {
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

#gallery div div p {
    visibility: hidden;
}

#gallery div div:hover p {
    visibility: visible;
}

#gallery div div:nth-of-type(1) {
    width: 290px;
    height: 200px;
}

#gallery div div:nth-of-type(2) {
    width: 600px;
    height: 350px;
}

#gallery div div:nth-of-type(3) {
    width: 290px;
    height: 200px;
}

.imgWhite {
    background-color: white;
}

.img1 {
    background-image: url("./선수제공파일/images/30.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url("./선수제공파일/images/31.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url("./선수제공파일/images/32.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img4 {
    background-image: url("./선수제공파일/images/33.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img5 {
    background-image: url("./선수제공파일/images/34.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img6 {
    background-image: url("./선수제공파일/images/35.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#mainGoods {
    text-align: center;
}

#mainGoods>img {
    width: 600px;
    height: 350px;
}

#goodsImage:hover {
    cursor: pointer;
    width: 650px;
    height: 400px;
}

.bar-container {
    width: 1320px;
    display: flex;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 20px;
}

.bar {
    width: 30px;
    margin-right: 10px;
    background-color: #007bff;
    text-align: center;
    color: white;
}

.bar-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
}

/* Goods 영역 */
#goods {
    width: 1320px;
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
}

#goods select {
    width: auto;
}

#viewOptions label {
    font-size: 18px;
    margin-right: 5px;
}

#bestGoodsList,
#goodsList {
    justify-content: center;
    display: flex;
}

#bestGoodsList div,
#goodsList div {
    padding: 5px 10px;
}

#bestGoodsList div img,
#goodsList div img {
    border-radius: 15px;
}

.card {
    margin: 10px 10px;
    width: 300px;
}

/* 모달 영역 */
.edit-area {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #f0f0f0;
}

.edit-tools {
    margin-top: 10px;
}

#chartArea {
    border: solid black 2px;
    border-radius: 5px;
    margin: 30px 30px;
    width: 1050px;
    height: 200px;
}


#signupContainer {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

#signupForm{
    text-align: center;
}

#signupForm>h1{
    text-align: center;
}

#responseMessage{
    margin: 5px 5px 5px 5px;
    font-weight: 900;
}

#userRank{
    font-size: 20px;
}

#userRank>span{
    font-weight: 900;
}

#selectedDate{
    margin-bottom: 7px;
}

#reservationTable{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

tbody>tr>td{
    width: 150px;
}

#thirdGame{
    display: none;
}

#reservationList{
    text-align: center;
    margin-top: 300px;
}

#goodsH1{
    text-align: center;
}

#goodsContainer{
    width: 1320px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 40px;
}

.goods{
    text-align: center;
}

.goods img{
    width: 300px;
    border-radius: 10px;
    border: solid black 2px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal-body div{
    display: flex;
}

.modal-body img{
    width: 350px;
    border-radius: 10px;
    border: solid black 2px;
}

.modal-body p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
}

.goodsForm{
    margin-top: 10px;
    display: flex;
}

.goodsForm button{
    height: 30px;
    margin-right: 10px;
    display: flex;
}

#goodsDiv{
    display: flex;
}

img{
    border-radius: 10px;
    border: solid 1px red;
}

.img1,.img2,.img3,.img4,.img5,.img6{
    border-radius: 10px;
    border: solid 1px red;
}